body {
  font-family: "Helvetica", Helvetica, sans-serif;
}

canvas {
  border: 1px solid black;
  float: left;
}

#controls_container {
  float: left;
  margin-left: 20px;
}

#panic {
  background-color: red;
}

#zoom {
  width: 200px;
  height: 20px;
}
